<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcloud1109.paymentserver8002.dao.PaymentDao">
    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) value (#{serial});
    </insert>


    <resultMap id="paymentMap" type="com.springcloud1109.common.entity.Payment">
        <id column="id" property="id" javaType="int"/>
        <result column="serial" property="serial" javaType="string"/>
    </resultMap>


    <select id="getPaymentById" parameterType="integer" resultMap="paymentMap">
        select id,serial from payment where id = #{id}
    </select>

    <update id="updatePayment" parameterType="Payment">
        update payment set serial=#{serial} where id=#{id}
    </update>

    <delete id="deletePaymentById" parameterType="integer">
        delete from payment where id = #{id}
    </delete>
</mapper>

